/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.color1 {
  color: #FD6000;
}

.nav-link {
  font-weight: 500;
  color: rgb(226, 30, 30);
}

.signing a {
  color: rgb(46, 45, 45) !important;
}

.dropdown-menu {
    height: 500px;
    width: 15rem;
    font-weight: 500;
    color: rgb(253, 10, 91);
    background-color: greenyellow;
}

.dropdown-menu a{
  font-weight: 500;
  color: grey;
        
}


.icon1 {
  color: #FD6000;
  margin-left: 5px;
  padding-top: 3px;
}

.footer1 {
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: auto;
    background-color: rgb(65, 58, 51);
    height: auto;
    justify-content: center;
    align-items: center;
    color: white;
}