// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.most_popular {
  margin-top: 3.5rem;
  margin: 0.2rem;
  background-repeat: no-repeat;
  width: 100%;
  height: 35rem;
  color: wheat;
  position: relative;
  background-size: 100% 100%;
}

.most_popular_title {
  margin-left: 2rem;
  position: absolute;
  bottom: 21%;
  width: auto;  
}

.most_popular_title a{
  font-weight: bold;
  color: #fd6000;
}

.most_popular_title a:hover{
  text-decoration: underline rgb(255, 251, 0) 1px;
  color: #fd6000;
}

.most_popular_body {
  margin-left: 2rem;
  position: absolute;
  bottom: 10%;
  width: auto;
  font-weight: 500;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
    
}

.category_container {
  background-color: rgb(255, 134, 195);
  height: 13rem;
  width: 98%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin-left: 0.2rem;
}

.category_name a {
  padding: 1rem;
  color: white;
  font-weight: 400;
}

.category_name a:hover {
  text-decoration: underline yellow;
  color: white;
}

.category_recent_title a {
  position: absolute;
  left: 30%;
  bottom: 5%;
  color: white;
  font-weight: 400;
}

.category_recent_title a:hover {
  text-decoration: underline yellow;
  color: white;
}

.container {
  margin-top: 5rem;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  color: wheat;
}

.article_show a {
  color: white;
}

.article_show a:hover {
  color: yellow;
  text-decoration: none;
}
