<h1 class="mt-3 pt-4"> Categoryshow </h1>

<div class="category_page">
    <% @category.articles.most_recent.each do |article| %>
        <div class="category_article_container"  >
            <div class="article_background" style="background-image: url(<%= asset_path @category.articles.most_recent.first.image  %>)"> 
            </div>        
            <div class="article_discription">
                <p class="category_name"><%= @category.name %> </p>
                <%=  article.title%>
            </div>
        </div>
    <% end %>
 </div>

<h3>Hi,</h3>
<h3><%= current_user.name  %></h3><br>

